<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonlibrary">

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sunmi.assistant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--提供共享路径-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_file_paths" />
        </provider>

    </application>

</manifest>