*.iml
.gradle
/local.properties
.DS_Store
/.idea/
/.idea/misc.xml
/.idea/assetWizardSettings.xml
/.idea/caches/build_file_checksums.ser
#/gradle/
/.idea/gradle.xml
/release/
/build/
/debug/
/keystore
/apmanager/.externalNativeBuild/
/apmanager/
/gradle/
/360jiagu/
/fastlane/
/JenkinsFile/
src/main/java/com/sunmi/apmanager/rpc/ap/.DS_Store
src/main/java/com/sunmi/apmanager/ui/activity/router/.DS_Store
src/main/res/layout/.DS_Store
captures/
