<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunmi.ipc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <activity android:name=".face.FaceHistoryArrivalActivity"></activity>
        <activity
            android:name=".view.activity.WifiConfigActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.IpcConfiguringActivity_"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.IpcConfigCompletedActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VideoPlayActivity_"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.IPCSearchActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingDetailActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingDetectionActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingDetectionTimeActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingNightStyleActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingVersionActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingWiFiActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingRotateActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.IpcSettingSdcardActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.RecognitionSettingActivity_"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".face.FaceGroupListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face.FaceGroupCreateActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face.FaceGroupDetailActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face.FaceListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face.FaceUploadActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face.FaceDetailActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face.FaceDetailRecordActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.IpcManagerActivity_"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dynamic.DynamicVideoActivity_"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>