<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunmi.ipc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <activity android:name=".view.WifiConfigActivity_" />
        <activity
            android:name=".view.IpcConfiguringActivity_"
            android:launchMode="singleTask" />
        <activity android:name=".view.IpcConfigCompletedActivity_" />
        <activity android:name=".view.IpcTestActivity_" />
        <activity
            android:name=".view.VideoPlayActivity_"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="landscape" />
        <activity android:name=".view.IPCSearchActivity_" />
        <activity android:name=".ipcset.IpcSettingActivity_" />
        <activity android:name=".ipcset.IpcSettingDetailActivity_" />
        <activity android:name=".ipcset.IpcSettingDetectionActivity_" />
    </application>

</manifest>