<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunmi.assistant">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activity.LeadPagesActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WelcomeActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!--web或js打开本地APP 协议部分，自定义设置-->
                <data
                    android:host="sunmi"
                    android:path="/androidapp"
                    android:port="8080"
                    android:scheme="xl" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

        <!--登录-->
        <activity
            android:name=".ui.activity.login.LoginActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--登录发送验证码 -->
        <activity
            android:name=".ui.activity.login.SendSmsLoginActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <!-- 登录获取验证码-->
        <!-- 注册-->
        <activity
            android:name=".ui.activity.login.RegisterActivity_"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <!-- 注册获取验证码-->
        <activity android:name=".ui.activity.login.InputCaptchaActivity_" />
        <!-- 设置密码-->
        <activity android:name=".ui.activity.login.SetPasswordActivity_" />

        <!-- 找回密码发送验证码-->
        <activity android:name=".ui.activity.login.RetrievePasswordActivity_" />
        <activity android:name=".ui.activity.login.InputMobileActivity_" />

        <!-- 首页-->
        <activity
            android:name=".ui.activity.MainActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.setting.SettingActivity_" />
        <activity android:name=".ui.activity.setting.SecurityActivity_" />
        <activity android:name=".ui.activity.setting.ChangePasswordActivity_" />
        <activity android:name=".ui.activity.setting.AboutActivity_" />
        <activity android:name=".ui.activity.setting.UserInfoActivity_" />
        <activity android:name=".ui.activity.setting.ChangeUsernameActivity_" />
        <activity android:name=".ui.activity.SunmiLinkSearchActivity_" />
        <activity android:name=".ui.activity.setting.ChangeCompanyNameActivity_" />
        <activity android:name=".ui.activity.merchant.SelectPlatformActivity_" />
        <activity android:name=".ui.activity.merchant.SelectStoreActivity_" />
        <activity android:name=".ui.activity.merchant.CheckPlatformMobileActivity_" />
        <activity android:name=".order.OrderListActivity_" />
        <activity android:name=".order.OrderDetailActivity_" />

        <!--百度地图-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 百度AK鉴权 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${BAIDU_KEY}" />
        <meta-data
            android:name="ENV_DATA"
            android:value="${ENV_VALUE}" />
        <meta-data
            android:name="DB_VERSION"
            android:value="${DB_VERSION_VALUE}" />
    </application>

</manifest>